@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  position: relative;
  background: url(/images/bg-pattern-desktop.svg);
  font-size: 16px;
}
.logo {
  position: fixed;
  top: 5%;
  left: 010%;
  background-color: white;
  max-width: fit-content;
}
.container {
  display: flex;
}
.left-side {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}
.left-side > div{
  margin:  0 auto;
  max-width: 70%;
}
.left-side .title {
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.left-side .title h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  font-weight: normal;
  line-height: 4.5rem;
}
.left-side .title h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}
.left-side .description p {
  line-height: 2rem;
  color: hsl(0, 36%, 70%);
}
.left-side .input-field {
  margin-top: 3rem;
}
.left-side .input-field .input-wrapper{
  display:block;
  position: relative;
  max-width: 70%;
}
.left-side .input-field input {
  border-radius: 30px;
  height: 40px;
  padding: 25px 30px 25px 30px;
  border: 1px solid hsla(0, 6%, 24%, 0.555);
  outline: none;
  color: hsl(0, 6%, 24%);
  min-width: 100%;
  font-size: larger;
  line-height: 40px;
}
.left-side .input-field button {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  height: 3.3rem;
  width: 5rem;
  background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  border: none;
  box-shadow: 0px 2px 30px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: 0.1s all ease-out;
}
.left-side .input-field button:hover {
  background-image: linear-gradient(135deg, hsl(0, 75%, 89%), hsl(0, 64%, 76%));
  height: 3.4rem;
  width: 5.1rem;
}
.left-side .input-field button:active {
  box-shadow: 0px 2px 30px rgb(255, 255, 255);
}
.right-side {
  flex: 3;
  height: 100vh;
  background: url(/images/hero-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s;
}
@media (max-width: 950px) {
  body{
    background: white;
  }
  .container {
   display: flex;
   flex-direction: column-reverse;
   
  }
  .logo{
    min-width: 100vmax;
    padding: 2rem 2rem 2rem ;
    position: static;
  }
  .left-side {
    width: 100vw;
    margin: 2rem 0 ;
  }
  .right-side {
    background-repeat: no-repeat;
    min-height: 80vmax;
    min-width: 100vw;
  }
  .left-side .title {
    margin-bottom: 1rem;
    margin-top: 8rem;
  }
  .left-side .title h1 {
    font-size: 3rem;
    font-weight: normal;
    line-height: 2.8rem;
    
  }
  .left-side .input-field .input-wrapper input {
    margin: 2rem 0rem;
  
  }
  .left-side .input-field button {
    position: absolute;
    right: 0;
    top: 27%;
  }
}
@media (max-width: 375px) {
  .left-side .input-field button {
    position: absolute;
    top: 31px;
    right: 40px;
    height: 2.6rem;
    width: 30px;
    text-align: center;
    padding: 5px 25px;
  }
  .left-side .input-field button:hover {
    height: 2.6rem;
    width: 30px;
  }
}
